html, body, #root, .react-root {
  /* height: 100%;
  width: 100%; */
  background-color: white;
  color: black;
  
  justify-content: left;
  align-items: left;
}

.left {
  margin: 10px;
  text-align: left;
}

button {
  padding: 10px;
  margin: 5px;
  border: 2px solid white;
  color: white;
  font-size: 20px;
}

.red {
  background-color: rgba(230, 104, 2, 0.74);
  color: white;
}

.blue {
  background-color: rgb(0, 179, 164);
  color: white;
}

.yellow {
  background-color: rgba(1, 167, 57, 0.938);
  color: black;
}

.profile{
  display: inline-block;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: cornflowerblue;
  padding: 20px;
  max-width: 300px;
  max-height: 300px;
  padding: 20px;
  margin: 20px;
}

.ProfileImg{
  align-self: center;
  justify-content: center;
  margin: 10px;
  max-width: 100px;
  border-radius: 50%;
}

.editButton{
  vertical-align: middle;
}

.birthdayMessage{
  vertical-align: middle;
  height: 100%;
  margin: 5px;
}

.messageRow{
  justify-content: center;
  align-items: center;
}

.topNav{
  background-color: #333;
  overflow: hidden;
}

.topNav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}