html, body, #root, .react-root {
  /* height: 100%;
  width: 100%; */
  background-color: white;
  color: black;
  
  justify-content: left;
  align-items: left;
}

.left {
  margin: 10px;
  text-align: left;
}

button {
  padding: 10px;
  margin: 5px;
  border: 2px solid white;
  color: white;
  font-size: 20px;
}

.red {
  background-color: rgba(230, 104, 2, 0.74);
  color: white;
}

.blue {
  background-color: rgb(0, 179, 164);
  color: white;
}

.yellow {
  background-color: rgba(1, 167, 57, 0.938);
  color: black;
}

.profile{
  display: inline-block;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: cornflowerblue;
  padding: 20px;
  max-width: 300px;
  max-height: 300px;
  padding: 20px;
  margin: 20px;
}

.ProfileImg{
  align-self: center;
  justify-content: center;
  margin: 10px;
  max-width: 100px;
  border-radius: 50%;
}

.editButtonOff{
  display: none;
}

.editButton{
  display: inline;
  border: none;
  background-color: darkblue;
  font-weight: bold;
  border-radius: 10px;
  font-size: small;
  vertical-align: middle;
  width: 50px;
}

.deleteButton{
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  font-size: small;
  vertical-align: middle;
}

.deleteButtonOff{
  display: none;
}

.birthdayMessage{
  vertical-align: middle;
  resize: none;
  border-radius: 10px;
  outline: none;
  border: none;
  float: left;
  height: 2em;
  overflow: hidden;
}

.messageRow{
  justify-content: center;
  align-items: center;
  display: flex;
}

.messageBox{
  display: inline-block;
  background-color: white;
  width: 160px;
  height: 2em;
  border-radius: 10px;
}

.topNav{
  background-color: #333;
  overflow: hidden;
}

.topNav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.clearIconOff{
  display: none;
}

.clearIcon{
  vertical-align: middle;
  padding: 0px;
  background-color: transparent;
  border: none;
  outline: none;
}

.searchBar{
  padding: .6em;
  padding-left: 32px;
}